.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner-section {
  background-image: url("../public/img/main_bg.png");
  background-size: cover;
  background-position: center;
}

.product_contain {
  background-image: url("../public/img/product_bg.png");
  background-size: cover;
  background-position: center;
}

.mobile-menu-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.mobile-menu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.mobile-menu-exit {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 200ms, transform 200ms;
}

/* Loarding */
/* Styles pour le loader */
.loader {
  position: relative;
  width: 70px;
  height: 70px;
}

.loader-large {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #ff914d;
  border-radius: 10px;
  animation: loading 2s infinite;
}

.loader-small {
  position: absolute;
  width: 50%;
  height: 50%;
  inset: 0;
  margin: auto;
  background-color: #004aad;
  z-index: 2;
  border-radius: 6px;
  animation: loading 2s infinite reverse;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateX(180deg);
  }
}

.menu__link {
  color: black;
  line-height: 2;
  position: relative;
}

.menu__link::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: black;
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}
